body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body scroll */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.website-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: solid #d9d9d9 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-top: 5px;
    display: none;
}

.bottom {
    flex-grow: 1;
    background-color: #e0e0e0;
}

.fullscreen-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 20px;
    height: 0px;
}

.fullscreen-btn {
    font-size: 1em;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 100;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.fullscreen {
    height: 100vh !important;
}
